@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Backdoor -->
<section class="backdoor-section">
    <div class="backdoor-container">
        <h2>About Our Company</h2>
        <div class="backdoor-columns">
            <div class="backdoor-column">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="backdoor-column">
                <i class="fa-solid fa-arrow-right-long"></i>
            </div>
            <div class="backdoor-column">
                <span>@ViewBag.Title</span>
            </div>
        </div>
    </div>
</section>

<!-- About Section-->
<section class="about-section">
    <div class="container about-container">
        <div class="about-columns">
            <div class="about-column">
                <h4>About us</h4>
                <h2>
                    QUICKLY AND EASY TO CLEAN
                    YOUR OFFICE AND HOUSE
                </h2>
                <p>
                    Amet minim mollit non deserunt ullamco sit aliqua dolor do consequat sunt nostrud amet. Amet
                    minim mollit non deserunt ullamco aliqua dolo ame.
                </p>
                <a asp-controller="Home" asp-action="Services">Our Services</a>
            </div>
            <div class="about-column">
                <img src="~/img/about/side/about-side.png" alt="About-Side" />
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section class="team-section">
    <div class="container team-container">
        <h4>OUR TEAM</h4>
        <h2>OUR EXPERT TEAM MEMBERS</h2>
        <div class="cards">
            <div class="card">
                <img src="~/img/about/members/devon.png" alt="Member-Devon" />
                <div class="card-content">
                </div>
                <div class="card-description">
                    <h4>Devon Lane</h4>
                    <p>Window Cleaner</p>
                </div>
                <div class="card-socials">
                    <i class="fa-brands fa-twitter team-social"></i>
                    <i class="fa-brands fa-linkedin-in team-social"></i>
                    <i class="fa-brands fa-facebook team-social"></i>
                </div>
            </div>
            <div class="card">
                <img src="~/img/about/members/ralph.png" alt="Member-Ralph" />
                <div class="card-content">
                </div>
                <div class="card-description">
                    <h4>Ralph Edwards</h4>
                    <p>Commercial Cleaner</p>
                </div>
                <div class="card-socials">
                    <i class="fa-brands fa-twitter team-social"></i>
                    <i class="fa-brands fa-linkedin-in team-social"></i>
                    <i class="fa-brands fa-facebook team-social"></i>
                </div>
            </div>
            <div class="card">
                <img src="~/img/about/members/bessie.png" alt="Memeber-Bessie" />
                <div class="card-content">
                </div>
                <div class="card-description">
                    <h4>Bessie Cooper</h4>
                    <p>Floor Cleaner</p>
                </div>
                <div class="card-socials">
                    <i class="fa-brands fa-twitter team-social"></i>
                    <i class="fa-brands fa-linkedin-in team-social"></i>
                    <i class="fa-brands fa-facebook team-social"></i>
                </div>
            </div>
            <div class="card">
                <img src="~/img/about/members/cody.png" alt="Memeber-Cody" />
                <div class="card-content">
                </div>
                <div class="card-description">
                    <h4>Cody Fisher</h4>
                    <p>House Cleaner</p>
                </div>
                <div class="card-socials">
                    <i class="fa-brands fa-twitter team-social"></i>
                    <i class="fa-brands fa-linkedin-in team-social"></i>
                    <i class="fa-brands fa-facebook team-social"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner Section -->
<section class="banner-section">
    <div class="container banner-container">
        <div class="banner">
            <div class="banner-columns">
                <div class="banner-column">
                    <div class="banner-icon">
                        <img src="~/img/about/banner/banner1.png" alt="Banner-1" />
                    </div>
                    <div class="banner-info">
                        <h3>573+</h3>
                        <span>Happy Customers</span>
                    </div>
                </div>
                <div class="banner-column">
                    <div class="banner-icon">
                        <img src="~/img/about/banner/banner2.png" alt="Banner-2" />
                    </div>
                    <div class="banner-info">
                        <h3>48</h3>
                        <span>Team Members</span>
                    </div>
                </div>
                <div class="banner-column">
                    <div class="banner-icon">
                        <img src="~/img/about/banner/banner3.png" alt="Banner-3" />
                    </div>
                    <div class="banner-info">
                        <h3>26</h3>
                        <span>Award Winning</span>
                    </div>
                </div>
                <div class="banner-column">
                    <div class="banner-icon">
                        <img src="~/img/about/banner/banner4.png" alt="Banner-4" />
                    </div>
                    <div class="banner-info">
                        <h3>759+</h3>
                        <span>Project Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section class="portfolio-section">
    <div class="container portfolio-container">
        <h4>OUR PORTFOLIO</h4>
        <h2>RECENT WORK SHOWCASE</h2>
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators portfolio-carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="portfolio-items">
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio1.png" alt="Portfolio-Image-1" />
                        </div>
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio2.png" alt="Portfolio-Image-2" />
                        </div>
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio3.png" alt="Portfolio-Image-3" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="portfolio-items">
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio3.png" alt="Portfolio-Image-3" />
                        </div>
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio2.png" alt="Portfolio-Image-2" />
                        </div>
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio1.png" alt="Portfolio-Image-1" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="portfolio-items">
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio2.png" alt="Portfolio-Image-2" />
                        </div>
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio1.png" alt="Portfolio-Image-1" />
                        </div>
                        <div class="portfolio-item">
                            <img src="~/img/about/carousel/portfolio3.png" alt="Portfolio-Image-3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>