@model csharp_aspnetcore_cleaningcompany_site.Models.CustomerRequest

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Backdoor -->
<section class="backdoor-section">
    <div class="backdoor-container">
        <h2>Contact Us</h2>
        <div class="backdoor-columns">
            <div class="backdoor-column">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="backdoor-column">
                <i class="fa-solid fa-arrow-right-long"></i>
            </div>
            <div class="backdoor-column">
                <span>@ViewBag.Title</span>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form -->
<section class="contactform-section">
    <div class="container contactform-container">
        <div class="contactform-columns">
            <div class="contactform-column">
                <h4>Contact us</h4>
                <h2>Get In Touch</h2>
                <p>
                    Thank you for your interest in our company! To get more information about our services, as well as to order a cleaning, please fill out the form.
                </p>
                <p>
                    We undertake to contact you as soon as possible after receiving your request.
                    Please provide your full name, city, address and phone number so that we can respond to your request quickly and efficiently.
                </p>
            </div>
            <div class="contactform-column">
                <form class="contactform" asp-controller="Home" asp-action="Create">
                    <label asp-for="CustomersName">Name*</label>
                    <input asp-for="CustomersName" type="text" name="customersName" id="customersName" placeholder="Name and Surname"
                           required>
                    <label asp-for="CustomersPhone">Phone*</label>
                    <input asp-for="CustomersPhone" type="tel" name="customersPhone" id="customersPhone" placeholder="Phone" required>
                    <label asp-for="CustomersCity">City*</label>
                    <select asp-for="CustomersCity" name="customersCity" id="customersCity" required>
                        <option value="" selected></option>
                        <option value="Kyiv">Kyiv</option>
                        <option value="Kharkov">Kharkov</option>
                        <option value="Odesa">Odesa</option>
                        <option value="Dnipro">Dnipro</option>
                        <option value="Zaporozhye">Zaporozhye</option>
                        <option value="Lviv">Lviv</option>
                        <option value="Kryvyi Pih">Kryvyi Pih</option>
                        <option value="Mykolaiv">Mykolaiv</option>
                        <option value="Vinnitsa">Vinnitsa</option>
                        <option value="Sumy">Sumy</option>
                        <option value="etc.">etc.</option>
                    </select>
                    <label asp-for="CustomersAddress">Adress*</label>
                    <input asp-for="CustomersAddress" type="text" name="customersAddress" id="customersAddress" placeholder="Address of cleaning place"
                           required>
                    <label for="CustomersPlace">Cleaning place*</label>
                    <select asp-for="CustomersPlace" name="customersPlace" id="customersPlace" required>
                        <option value="" selected></option>
                        <option value="Flat">Flat</option>
                        <option value="House">House</option>
                        <option value="Office">Office</option>
                        <option value="Studio">Studio</option>
                        <option value="Store">Store</option>
                        <option value="etc.">etc.</option>
                    </select>
                    <button id="contactButton">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Map -->
<section class="contactmap-section">
    <div class="contactmap-container">
        <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1634.2202924079465!2d30.749332358003368!3d46.460188746275875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1679345969358!5m2!1sru!2sua"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>