@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Backdoor -->
<section class="backdoor-section">
    <div class="backdoor-container">
        <h2>Our Services</h2>
        <div class="backdoor-columns">
            <div class="backdoor-column">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="backdoor-column">
                <i class="fa-solid fa-arrow-right-long"></i>
            </div>
            <div class="backdoor-column">
                <span>@ViewBag.Title</span>
            </div>
        </div>
    </div>
</section>

<!-- Services Section-->
<section class="services-section">
    <div class="container services-container">
        <h4>Our services</h4>
        <h2>WHAT WE ARE OFFERING</h2>
        <div class="services-cards">
            <div class="services-card">
                <div class="services-card-icon">
                    <img src="~/img/services/icons/house.png" alt="House-Cleaning" />
                </div>
                <div class="services-card-info">
                    <span>House Cleaning</span>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-icon">
                    <img src="~/img/services/icons/office.png" alt="Office-Cleaning" />
                </div>
                <div class="services-card-info">
                    <span>Office Cleaning</span>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-icon">
                    <img src="~/img/services/icons/floor.png" alt="Floor-Cleaning" />
                </div>
                <div class="services-card-info">
                    <span>Floor Cleaning</span>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-icon">
                    <img src="~/img/services/icons/window.png" alt="Window-Cleaning" />
                </div>
                <div class="services-card-info">
                    <span>Window Cleaning</span>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reviews Section-->
<section class="reviews-section">
    <div class="container reviews-container">
        <h4>Happy customers</h4>
        <h2>WHAT OUR CUSTOMERS SAY</h2>
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="review-cards">
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review1.png" alt="Review-1" />
                            </div>
                            <div class="review-card-info">
                                <span>Courtney Heanry</span>
                                <h6>Nursing Assistant</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">☆</span>
                            </div>
                        </div>
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review2.png" alt="Review-2" />
                            </div>
                            <div class="review-card-info">
                                <span>Darrell Steward</span>
                                <h6>President of Sales</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">☆</span>
                                <span class="review-star">☆</span>
                            </div>
                        </div>
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review3.png" alt="Review-3" />
                            </div>
                            <div class="review-card-info">
                                <span>Jerome Bell</span>
                                <h6>Marketing Coordinator</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="review-cards">
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review1.png" alt="Review-1" />
                            </div>
                            <div class="review-card-info">
                                <span>Courtney Heanry</span>
                                <h6>Nursing Assistant</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">☆</span>
                            </div>
                        </div>
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review2.png" alt="Review-2" />
                            </div>
                            <div class="review-card-info">
                                <span>Darrell Steward</span>
                                <h6>President of Sales</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">☆</span>
                                <span class="review-star">☆</span>
                            </div>
                        </div>
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review3.png" alt="Review-3" />
                            </div>
                            <div class="review-card-info">
                                <span>Jerome Bell</span>
                                <h6>Marketing Coordinator</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="review-cards">
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review1.png" alt="Review-1" />
                            </div>
                            <div class="review-card-info">
                                <span>Courtney Heanry</span>
                                <h6>Nursing Assistant</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">☆</span>
                            </div>
                        </div>
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review2.png" alt="Review-2" />
                            </div>
                            <div class="review-card-info">
                                <span>Darrell Steward</span>
                                <h6>President of Sales</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">☆</span>
                                <span class="review-star">☆</span>
                            </div>
                        </div>
                        <div class="review-card">
                            <div class="review-card-image">
                                <img src="~/img/services/carousel/review3.png" alt="Review-3" />
                            </div>
                            <div class="review-card-info">
                                <span>Jerome Bell</span>
                                <h6>Marketing Coordinator</h6>
                                <p>
                                    Aliqua id fugiat nostrud irure ex duis ea quis quis ad et. Sunt qui esse
                                    pariatur duis
                                    deserunt mollit dolore cillum minim tempor enim.
                                </p>
                            </div>
                            <div class="review-rating">
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                                <span class="review-star">★</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators review-carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
        </div>
    </div>
</section>